body {
    font-family: helvetica;
}
ul{
    font-family: monospace;
}
li{
    list-style: circle;
}
.list{
    list-style: square;
}
#date{
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}
.header{
    padding: 130px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px; 
}